 <div class="title-container">
    <div id="welcome-title">
      UC Berkeley Innovation Resource Database
    </div>
  </div>

  <div class="logo-container">
    <div class="row" id="logo-row">
      <div class="col-3 col-xs-12 text-center">
        <img class="logo" alt="BearX Logo" src= <%= root_url + '/images/BearXLogo.png' %>>
      </div>
      <div class="col-3 col-xs-12 text-center">
        <img class="logo" alt="CITRIS Logo" src= <%=root_url + "images/CITRISLogo.png" %>>
      </div>
      <div class="col-3 col-xs-12 text-center">
        <img class="logo" alt="WITI Logo" src= <%=root_url + "images/WITILogo.png" %>>
      </div>
      <div class="col-3 col-xs-12 text-center">
        <img class="logo" alt="OnRamp Logo" src= <%=root_url + "images/BlumCenterLogo.png" %>>
      </div>
    </div>

    <div class="row" id="berkeley-row">
      <div class="col-12 text-center">
        <img class="logo" alt="Berkeley Logo" src=<%=root_url + "images/BerkeleyLogo.png" %>>
      </div>
    </div>
  </div>
</body>

