 <div class="title-container">
    <div id="welcome-title">
      <h2>UC Berkeley </h2>
      <br>
      <h1>Innovation Resource Database</h1>
    </div>
    <img class="logo" alt="database icon" src= <%=root_url + "images/database_logo.svg" %>>
  </div>

  <div class="desc-container">
    <p>Many organizations on campus have databases of <i>innovation resources</i> that are hard to find and not maintained. The Innovation Resource Database solves this problem, by providing a single, collaborative database of resources to assist students and their career objectives. This database is actively maintained and updated to accomodate the campus's wealth of programs, events, and other organization opportunities.</p>
  </div>

  

  

  <div class="logo-container">
    <div class="row" id="logo-row">
      <img class="logo" alt="CITRIS Logo" src= <%=root_url + "images/CITRISLogo.png" %>>
      <img class="logo" alt="WITI Logo" src= <%=root_url + "images/WITILogo.png" %>>
      <img class="logo" alt="BearX Logo" src= <%= root_url + '/images/BearXLogo.png' %>>
      <img class="logo" alt="OnRamp Logo" src= <%=root_url + "images/BlumCenterLogo.png" %>>
    </div>
    <div class="row" id="berkeley-row">
      <img class="logo" alt="Berkeley Engineering Logo" src= <%=root_url + "images/engineering_logo.png" %>>
      <img class="logo" alt="Berkeley Logo" src=<%=root_url + "images/BerkeleyLogo.png" %>>
    </div>
  </div>
</body>

