<div class="top" id="approval-title">
  <h1>Resources</h1>
</div>

<div id="all"  id="resource-container-wrapper">
    <div id="approval-column">
        <% @resources.each do |resource| %>
        <div class="row resource-container unapproved-resource">
            
            <div class="links" %>
            <%= link_to("View Resource", "/resources/" + resource.id.to_s + ".html", class: "btn btn-outline-primary") %>
            
            <%= link_to('Edit', edit_resource_path(resource), class: "btn btn-outline-primary") %>
            <% if user_signed_in? %>
                <%= link_to 'Archive', resources_archive_path(resource), method: :put, data: { confirm: "Are you sure you want to archive?", id: resource["id"] } , class: "btn btn-outline-primary btn-archive", id: resource["id"] %>
            <% elsif resource_owner_signed_in?%>
                <%= link_to('Confirm', resources_all_path, class: "btn btn-outline-primary") %>
            <% end %>

            </div>
            <div class="resource-title text">
                <%= resource.title %>
            </div>

            <div class="approval-checkbox">
            <%= check_box_tag 'approve_list[]', resource.id, checked=false %>
            </div>

            <div>
            <% i = 0 %>
            <% @all_values_hash.map do |key, value| %>
                <% text = resource[value]%>
                <% if (@has_many_hash.key?(value)) %>
                    <% text = resource.send(value).collect(&:val) %>
                    <% text = text.to_s.gsub(/[^0-9A-Za-z,\s,\-,\&]/, "") %>
                <% end %>
                <% if (text != nil && text.to_s.length != 0) %>
                    <% if (i % 2 == 1) %>
                        <div class="text colored">
                    <% else %>
                        <div class="text">
                    <% end %>
                        <p><b><%= key.to_s + ": "%></b> <%= text.to_s %></p>
                    </div>
                    <% i += 1 %>
                <% end %>
                
            <% end %>
        </div>
        </div>
    <% end %>
    </div>
    
</div>
</div>