<div id="new" class="edit">
<%= javascript_include_tag "new" %>
<%= javascript_include_tag "filter" %>

<div id="suggest_form">
    <div id="edit-top">
        <div id="edit-title" %>
            <h1>Edit: <%= @resource.title%></h1>
        </div>
        <div class="links" %>
            <%= link_to("View Resource", "/resources/" + @resource.id.to_s + ".html", class: "btn btn-outline-primary") %>
        </div>
    </div>

  <%= form_tag("/resources/" + @resource.id.to_s + ".html", method: "patch", id: "form_section") do %>
      <div class="form_step" id="contact_info">
          <h2>Contact info for person maintaining resource (not public facing)</h2>
          <div class="contact_row">
              <div class="input_field col">
                  <%= label_tag(:contact_email, "Contact Email", class: "required") %>
                  <p> Email for the contact person above to be sent requests to update resource information. </p>
                  <%= text_field_tag(:contact_email, nil, class: "required_input validate-input") %>
                    <p id="email-valid" class="invalid-text"> Invalid Email </p>
              </div>
              <div class="input_field col">
                  <%= label_tag(:contact_name, "Contact Name") %>
                  <p> A specific person who can speak for the organization and keep the resource information updated? </p>
                  <%= text_field_tag(:contact_name, @resource.contact_name) %>
              </div>
              <div class="input_field col">
                  <%= label_tag(:contact_phone, "Contact Phone") %>
                  <p> What number can we call if we have a question about the resource? </p>
                  <%= text_field_tag(:contact_phone, nil, class: "validate-input") %>
                    <p id="phone-valid" class="invalid-text"> Invalid Phone </p>

              </div>
          </div>

          
      </div>

      <div class="form_step">
          <h2>Basic information about the resource</h2>
          <div class="resource_row">
              <div class="input_field">
                  <%= label_tag(:title, "Resource name", class: "required") %>
                  <p> Title of the resource </p>
                  <%= text_field_tag(:title, @resource.title, class: "required_input") %>
              </div>
              <div class="input_field">
                  <%= label_tag(:url, "Resource URL", class: "required") %>
                  <p> Webpage for resource </p>
                  <%= text_field_tag(:url, @resource.url, class: "required_input") %>
              </div>
          </div>

          <div class="resource_row">
              <div class="input_field">
                  <%= label_tag(:desc, "Resource Description", class: "required") %>
                  <%= text_area_tag(:desc, @resource.desc, class: "required_input") %>
              </div>
          </div>

          <div class="resource_row association_row">
              <% @locations.each do |association, values| %>
                  <div id="location">
                      <%= label_tag(:location, association.capitalize, class: "required")%>
                  </div>
                  <div class="resource_checkboxes">
                      <% values.each do |val| %>
                            <div class="single_checkbox">
                                <% if @resource.location == val%>
                                    <div class="label loc-radio">
                                    <%= val %>
                                        <%= radio_button_tag association, val, true, class: "radio", id: val %>
                                    </div>
                                <% else %>
                                    <div class="label loc-radio">
                                        <%= val %>
                                        <%= radio_button_tag association, val, false, class: "radio", id: val %>
                                    </div>
                                <% end %>
                            </div>
                      <% end %>
                  </div>
              <% end %>
              <div id="other_location">
                  <p>Other: </p>
                  <%= text_field_tag(:other) %>
              </div>
          </div>

          <% @has_many_hash.each do |association, values| %>
              <% if (association ==  "types" || association == "audiences")%>
                  <div class="association_row">
                      <div class="association">
                          <%= label_tag(:association, association.capitalize, class: "required") %>
                      </div>
                      <div class="resource_checkboxes">
                          <% values.each do |val| %>
                                <div class="single_checkbox type_checkbox">
                                <% if @resource.send(association).collect(&:val).include?(val)%>
                                    <div class="label"><%= val %></div>
                                        <%= check_box_tag association+'[]', val, true, class: "checkbox", id: val %>
                                    </div>
                                <% else %>
                                    <div class="label"><%= val %></div>
                                        <%= check_box_tag association+'[]', val, false, class: "checkbox", id: val %>
                                    </div>
                                <% end %>
                          <% end %>
                      </div>
                  </div>
              <% end %>
          <% end %>
      </div>
      

      <div class="form_step">
          <h2>Other information about the resource</h2>

          <div class="contact_row">
                <div class="input_field col">
                    <%= label_tag(:resource_email, "Email - General") %>
                    <p class="label-desc-other">Email associated with this resource. </p>
                    <%= text_field_tag(:resource_email, @resource.resource_email) %>
                </div>
                <div class="input_field col">
                    <%= label_tag(:resource_phone, "Phone - General") %>
                    <p class="label-desc-other">Phone associated with this resource. </p>
                    <%= text_field_tag(:resource_phone, @resource.resource_phone) %>
                </div>
                <div class="input_field col">
                    <%= label_tag(:address, "Address") %>
                    <p class="label-desc-other">Useful if you host events at your physical location. </p>
                    <%= text_field_tag(:address, @resource.address) %>
                </div>
            </div>

            <div class="resource_row">
                <div class="input_field other-info">
                    <%= label_tag(:deadline, "Deadline") %>
                    <p> What is the specific date applications are due or an event is held, or resource is available until? The first or upcoming deadline. </p>
                    <% if @resource.deadline != nil %>
                        <%= date_field_tag(:deadline, @resource.deadline.to_date()) %>
                    <% else %>
                        <%= date_field_tag(:deadline, nil) %>
                    <% end %>
                </div>
            </div>

          <div class="association_row">
              <% @has_many_hash.each do |association, values| %>
                  <% if (association !=  "types" && association != "audiences")%>
                      <div class="association">
                          <%= label_tag(:association, association.capitalize.gsub(/[^0-9A-Za-z,\s]/, " ")) %>
                      </div>
                      <div class="resource_checkboxes">
                      <% values.each do |val| %>
                        <div class="single_checkbox type_checkbox">
                        <% if @resource.send(association).collect(&:val).include?(val)%>
                            <div class="label"><%= val %></div>
                                <%= check_box_tag association+'[]', val, true, class: "checkbox", id: val %>
                            </div>
                        <% else %>
                            <div class="label"><%= val %></div>
                                <%= check_box_tag association+'[]', val, false, class: "checkbox", id: val %>
                            </div>
                        <% end %>
                  <% end %>
                      </div>
                  <% end %>
              <% end %>
          </div>

          <div class="resource_row">
              <div class="input_field">
                  <%= label_tag(:notes, "Notes") %>
                  <p> Note any other details on eligibility, deadlines, and process. </p>
                  <%= text_area_tag(:notes, @resource.notes) %>
              </div>
          </div>
      </div>

      <div id="form_submit">
          <%= submit_tag("Update", :id => "submit_button") %>
          <p id="message"> Description was too long. <p>
      </div>

  <% end %>
</div>
</div>