<div id="new" class="edit">
<%= javascript_include_tag "new" %>
<%= javascript_include_tag "filter" %>

<div id="suggest_form">
    <div id="edit-top">
        <div id="edit-title" %>
            <h1>Editing:</h1>
            <h2><%= @resource.title%></h2>
        </div>
        <div class="links" %>
            <%= link_to("View Resource", "/resources/" + @resource.id.to_s + ".html", class: "btn btn-outline-primary") %>
        </div>
    </div>

  <%= form_tag("/resources/" + @resource.id.to_s + ".html", method: "patch", id: "form_section") do %>
      <div class="form_step">
          <h2>Basic Information</h2>
          <div class="resource_row">
              <div class="input_field">
                  <%= label_tag(:title, "Resource Name", class: "required") %>
                  <p> Title of the resource </p>
                  <%= text_field_tag(:title, @resource.title, class: "required_input") %>
              </div>
          </div>
        <div class="resource_row">
              <div class="input_field">
                  <%= label_tag(:url, "Resource URL", class: "required") %>
                  <p> Webpage for resource </p>
                  <%= text_field_tag(:url, @resource.url, class: "required_input") %>
              </div>
          </div>

          <div class="resource_row">
              <div class="input_field">
                  <%= label_tag(:description, "Resource Description", class: "required") %>
                  <%= text_area_tag(:description, @resource.description, class: "required_input") %>
              </div>
          </div>

          <div class="resource_row association_row">
              <% @locations.each do |association, values| %>
                  <div id="location">
                      <%= label_tag(:location, association.capitalize, class: "required")%>
                  </div>
                  <div class="resource_checkboxes">
                      <% values.each do |val| %>
                            <div class="single_checkbox">
                                <% if @resource.location == val%>
                                    <div class="label loc-radio">
                                    <%= val %>
                                        <%= radio_button_tag association, val, true, class: "radio", id: val %>
                                    </div>
                                <% else %>
                                    <div class="label loc-radio">
                                        <%= val %>
                                        <%= radio_button_tag association, val, false, class: "radio", id: val %>
                                    </div>
                                <% end %>
                            </div>
                      <% end %>
                  </div>
              <% end %>
          </div>

          <% @has_many_hash.each do |association, values| %>
              <% if (association ==  "types" || association == "audiences")%>
                  <div class="association_row">
                      <div class="association">
                          <%= label_tag(:association, association.capitalize) %>
                      </div>
                      <div class="resource_checkboxes">
                          <% values.each do |val| %>
                                <div class="single_checkbox type_checkbox">
                                <% if @resource.send(association).collect(&:val).include?(val)%>
                                    <div class="label"><%= val %></div>
                                        <%= check_box_tag association+'[]', val, true, class: "checkbox", id: val %>
                                    </div>
                                <% else %>
                                    <div class="label"><%= val %></div>
                                        <%= check_box_tag association+'[]', val, false, class: "checkbox", id: val %>
                                    </div>
                                <% end %>
                          <% end %>
                      </div>
                  </div>
              <% end %>
          <% end %>
      </div>

      
      <div class="form_step">
          <h2>Additional Information</h2>

          <div class="contact_row">
                <div class="input_field col">
                    <%= label_tag(:resource_email, "Email - General") %>
                    <p class="label-desc-other">Email associated with this resource. </p>
                    <%= text_field_tag(:resource_email, @resource.resource_email) %>
                </div>
            </div>

            <div class="contact_row">
                <div class="input_field col">
                    <%= label_tag(:resource_phone, "Phone - General") %>
                    <p class="label-desc-other">Phone associated with this resource. </p>
                    <%= text_field_tag(:resource_phone, @resource.resource_phone) %>
                </div>
            </div>
            <div class="contact_row">
                <div class="input_field col">
                    <%= label_tag(:address, "Address") %>
                    <p class="label-desc-other">An organization's headquarters or an event's physical location. </p>
                    <%= text_field_tag(:address, @resource.address) %>
                </div>
            </div>

            <div class="resource_row">
                <div class="input_field other-info">
                    <%= label_tag(:deadline, "Deadline") %>
                    <p>The specific date applications are due, when an event is held, or when a resource becomes unavailable. The first or upcoming deadline.</p>
                    <% if @resource.deadline != nil %>
                        <%= date_field_tag(:deadline, @resource.deadline.to_date()) %>
                    <% else %>
                        <%= date_field_tag(:deadline, nil) %>
                    <% end %>
                </div>
            </div>

          <div class="association_row">
              <% @has_many_hash.each do |association, values| %>
                  <% if (association !=  "types" && association != "audiences")%>
                      <div class="association">
                          <%= label_tag(:association, association.capitalize.gsub(/[^0-9A-Za-z,\s]/, " ")) %>
                      </div>
                      <div class="resource_checkboxes">
                      <% values.each do |val| %>
                        <div class="single_checkbox type_checkbox">
                        <% if @resource.send(association).collect(&:val).include?(val)%>
                            <div class="label"><%= val %></div>
                                <%= check_box_tag association+'[]', val, true, class: "checkbox", id: val %>
                            </div>
                        <% else %>
                            <div class="label"><%= val %></div>
                                <%= check_box_tag association+'[]', val, false, class: "checkbox", id: val %>
                            </div>
                        <% end %>
                  <% end %>
                      </div>
                  <% end %>
              <% end %>
          </div>

          <div class="resource_row">
              <div class="input_field">
                  <%= label_tag(:notes, "Notes") %>
                  <p> Note any other details on eligibility, deadlines, and process. </p>
                  <%= text_area_tag(:notes, @resource.notes) %>
              </div>
          </div>

          
      </div>

      <div class="form_step" id="contact_info">
          <h2>Contact Info for Resource Maintenance </h2>
            <div class="contact_row">
              <div class="input_field col">
                  <%= label_tag(:contact_email, "Contact Email", class: "required") %>
                  <p>Email of the person or organization we can contact to update the resource in our database if needed. </p>
                  <%= text_field_tag(:contact_email, @resource.contact_email, class: "required_input validate-input") %>
                    <p id="email-valid" class="invalid-text"> Invalid Email </p>
              </div>
            </div>
            <div class="contact_row">
              <div class="input_field col">
                  <%= label_tag(:contact_name, "Contact Name") %>
                  <p> The person who is most up-to-date with this resource's information</p>
                  <%= text_field_tag(:contact_name, @resource.contact_name) %>
              </div>
            </div>
            <div class="contact_row">
              <div class="input_field col">
                  <%= label_tag(:contact_phone, "Contact Phone") %>
                  <p> Who can we call if we have a question about the resource? </p>
                  <%= text_field_tag(:contact_phone, @resource.contact_phone, class: "validate-input") %>
                    <p id="phone-valid" class="invalid-text"> Invalid Phone </p>
              </div>
            </div>
      </div>

      <% if user_signed_in? %>
      <div class="form_step">
          <h2>Admin Information</h2>
          <div class="resource_row">
              <div class="input_field">
                  <%= label_tag(:approval_status, "Approval Status") %>
                  <p> 0 = unapproved, 1 = approved, 2 = archived </p>
                  <%= text_field_tag(:approval_status, @resource.approval_status) %>
              </div>
            </div>
            <div class="resource_row">
              <div class="input_field">
                  <%= label_tag(:approval_status, "Flagged") %>
                  <p> 0 = no flag, 1 = flagged </p>
                  <%= text_field_tag(:flagged, @resource.flagged) %>
              </div>
          </div>

          <div class="resource_row">
              <div class="input_field">
                  <%= label_tag(:flagged_comment, "Flagged comment") %>
                  <p> Any issues or outdated information about this resource. </p>
                  <%= text_area_tag(:flagged_comment, @resource.flagged_comment) %>
              </div>
          </div>

          <div class="resource_row">
              <div class="input_field">
                  <%= label_tag(:approved_by, "Approved By") %>
                  <p>The person who approved the resource from the approval queue. </p>
                  <%= text_field_tag(:approved_by, @resource.approved_by) %>
              </div>
          </div>
        </div>
      <% end %>

      <div id="form_submit">
            <%= button_tag("Update", :id => "submit_button") %>
            <p id="message"><p>
        </div>

  <% end %>
</div>
</div>