<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />

<div class="top" id="resources-index">
    <h1>Resources </h1>
    <div class="submit-resource-container">
      <a class="submit-resource-button" href="/resources/new.html">Suggest a Resource</a>
     </div>
</div>


<%= javascript_pack_tag 'application' %>
<%= javascript_include_tag "filter" %>
<%= javascript_include_tag "resource-index" %>

<div class="index"  id="resource-container-wrapper">
  <% resource_data = @resources_json %>
  <% if user_signed_in? %>
    <%= react_component("Display", { filters: @has_many_hash.merge(@locations), child_locations: @child_locations, resources: resource_data }) %>
  <% else %>
    <%= react_component("DisplayWithoutBrokenURL", { filters: @has_many_hash.merge(@locations), child_locations: @child_locations, resources: resource_data }) %>
  <% end %>
</div>
