<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />

<div class="top" id="resources-index">
    <h1>Resources </h1>
</div>

<%= javascript_pack_tag 'application' %>
<%= javascript_include_tag "filter" %>

<div class="index"  id="resource-container-wrapper">
<% if false %>
  <div id="filter-column">

  
    <%= form_tag("/resources.html", method: :get) do %>
      
      <div class="row">
        <div id="filter-header">
          <%= submit_tag 'Filter', class: 'btn btn-outline-dark btn-lg', id: 'filter-button'%>

          <%= button_tag 'Reset filters', :type => 'button', class: 'btn btn-outline-dark btn-sm', id: 'filter-reset-button'%>
        </div>
      </div>

      <div class="association" id="search_row">
        <%= label_tag(:search_bar, "Search", class: "search_bar_text") %>
        <%= text_field_tag(:search, session[:search], class: "search_bar") %>
      </div>

      <div class="association" id="sort">
        <h2>Sort results</h2>
        <div class="filters">
          <% @sort_list = ["title", "location", "updated_at"] %>
          <% @sort_list.each do |category| %>
            <div class="single_checkbox gold_label sort_label">
              <div class="label sort-radio"><%= category.capitalize.gsub(/[^0-9A-Za-z,\s]/, " ") %></div>
              <% if !session[:sort_by].nil? && session[:sort_by].include?(category) %>
                <%= radio_button_tag "sort_by", category, true, class: "radio"%>
              <% else %>
                <%= radio_button_tag "sort_by", category, false, class: "radio" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="association">
        <h2>Location</h2>
        <% @locations.each do |association, values| %>
          <div class="filters">
            <% values.each do |val| %>
              <div class="single_checkbox gold_label loc_label">
                <div class="label loc-radio"><%= val %></div>
                
                <% if !session[association].nil? && session[association].include?(val) %>
                  <%= radio_button_tag association, val, true, class: "radio", id: val %>
                <% else %>
                  <%= radio_button_tag association, val, false, class: "radio", id: val %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
        
      </div>

      <% @has_many_hash.each do |association, values| %>
        <div class="association">
          <h2><%= association.capitalize.gsub(/[^0-9A-Za-z,\s]/, " ") %></h2>
          <div class="filters">
            <% values.each do |val| %>
              <div class="single_checkbox gold_label">
                <div class="label"><%= val %></div>
                <% if !session[association].nil? && session[association].include?(val) %>
                  <%= check_box_tag association+'[]', val, true, class: "checkbox", id: val %>
                <% else %>
                  <%= check_box_tag association+'[]', val, false, class: "checkbox", id: val %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% end %>

  <% resource_data = @resources_json %> 
  <%= react_component("Display", { filters: @has_many_hash, resources: resource_data }) %>

  <% if false %>
  <div id="resource-column">
    <% if @resources.length == 0 %>
      <div class="row">
        <div class="col-12" id = "result-header">
          <h2>No results found</h2>
          <% if @parent_location != "" %>
            <p id="none_message"> Would you like to search in the larger location: <%= link_to @parent_location, @parent_query, id: 'new-parent-button' %>? </p>
          <% else %>
              <p id="none_message"> Try changing your filtering options.</p>
          <% end %>
          
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-12" id = "result-header">
          <h2>Results</h2>
        </div>
      </div>
      <div class="row" id="pages">
        <ul class="pagination">
        </ul>
      </div>

      <% @resources.each do |resource| %>

        
        <% if false %>
        <div class="resource-container" data-resource=<%= resource.attributes %> > </div>
        <% end %>
        
        
      <% end %>
      <div class="row" id="pages">
        <ul class="pagination">
        </ul>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
