<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />

<div class="top" id="resources-index">
    <h1>Resources </h1>
</div>

<%= javascript_include_tag "filter" %>

<div class="index"  id="resource-container-wrapper">
  <div id="filter-column">
    <%= form_tag("/resources.html", method: :get) do %>
      
      <div class="row">
        <div id="filter-header">
          <%= submit_tag 'Filter', class: 'btn btn-outline-dark btn-lg', id: 'filter-button'%>

          <%= button_tag 'Reset filters', :type => 'button', class: 'btn btn-outline-dark btn-sm', id: 'filter-reset-button'%>
        </div>
      </div>

      <div class="association" id="search_row">
        <%= label_tag(:search_bar, "Search", class: "search_bar_text") %>
        <%= text_field_tag(:search, session[:search], class: "search_bar") %>
      </div>

      <div class="association">
        <h2>Location</h2>
        <% @locations.each do |association, values| %>
          <div class="filters">
            <% values.each do |val| %>
              <div class="single_checkbox gold_label">
                <div class="label loc-radio"><%= val %></div>
                
                <% if !session[association].nil? && session[association].include?(val) %>
                  <%= radio_button_tag association, val, true, class: "radio", id: val %>
                <% else %>
                  <%= radio_button_tag association, val, false, class: "radio", id: val %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
        
      </div>

      <% @has_many_hash.each do |association, values| %>
        <div class="association">
          <h2><%= association.capitalize.gsub(/[^0-9A-Za-z,\s]/, " ") %></h2>
          <div class="filters">
            <% values.each do |val| %>
              <div class="single_checkbox gold_label">
                <div class="label"><%= val %></div>
                <% if !session[association].nil? && session[association].include?(val) %>
                  <%= check_box_tag association+'[]', val, true, class: "checkbox", id: val %>
                <% else %>
                  <%= check_box_tag association+'[]', val, false, class: "checkbox", id: val %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="resource-column">
    <% if @resources.length == 0 %>
      <div class="row">
        <div class="col-12" id = "result-header">
          <h2>No results found</h2>
          <% if @parent_location != "" %>
            <p id="none_message"> Would you like to search in the larger location: <%= link_to @parent_location, @parent_query, id: 'new-parent-button' %>? </p>
          <% else %>
              <p id="none_message"> Try changing your filtering options.</p>
          <% end %>
          
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-12" id = "result-header">
          <h2>Results</h2>
        </div>
      </div>
      <div class="row" id="pages">
        <ul class="pagination">
          <li class="page-arrow prev disabled" id="prev">
            <p id="prevLink" class="page-link prevLink">Previous</p>
          </li>
        </ul>
      </div>

      <% @resources.each do |resource| %>
        <div class="row resource-container">
          <div class="resource-title text">
            <%= link_to(resource.title, "/resources/" + resource.id.to_s + ".html") %>
          </div>
          <div class="resource-url text">
            <p class="title">URL:</p>
            <a href="<%= resource.url %>" target="_blank"><%= resource.url %></a>
          </div>
          <div class="resource-desc text">
            <% if resource.description == nil %>
            <p class="title">Description:</p>
            <p>None</p>
            <% elsif resource.description.split.size > 50 %>
            <p class="title">Description:</p>
              <% @split = resource.description.split[0..50] %>
              <p> <%= @split.join(" ") + " ..." %> </p>
            <% else %>
              <p class="title">Description:</p>
              <p> <%= resource.description %> </p>
            <% end %>
            
          </div>
          <% if resource.location != nil %>
            <div class="resource-location text">
              <p class="title">Location:</p>
              <p> <%= resource.location.gsub(",", ", ") %> </p>
            </div>
          <% end %>
          
          <% @type_value = resource.types.collect(&:val).to_s.gsub(/[^0-9A-Za-z,\s]/, "")%>
          <% if @type_value != "" %>
            <div class="resource-types text">
              <p class="title">Types:</p>
              <p> <%= @type_value %> </p>
            </div>
          <% end %>

          <% @audience_value = resource.audiences.collect(&:val).to_s.gsub(/[^0-9A-Za-z,\s]/, "")%>
          <% if @audience_value != "" %>
            <div class="resource-types text">
              <p class="title">Audiences:</p>
              <p> <%= @audience_value %> </p>
            </div>
          <% end %>
          

        
          <div class="text links" %>
            <%= link_to("More info", "/resources/" + resource.id.to_s + ".html", class: "btn btn-outline-primary") %>
            <p class="resource-updated">Last Updated: <%= resource.updated_at.to_date() %></p>
            
            <% if user_signed_in? %>
              <%= link_to('Edit', edit_resource_path(resource), class: "btn btn-outline-primary") %>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="row" id="pages">
        <ul class="pagination">
          <li class="page-arrow prev disabled" id="prev">
            <p id="prevLink" class="page-link prevLink">Previous</p>
          </li>
        </ul>
      </div>
    <% end %>
    
    
  </div>
</div>
