<div id="new">

<div id="suggest_top">
    <h1>Suggest a Resource for our Database </h1>
</div>

<div id="instructions">
    <p>Fill out the form below to help contribute. We will contact you if we find the resource acceptable. If you are an Admin, the resource will automatically be approved.<p>
    <p class="required">Required fields are marked with an <p>
</div>

<div class="form" id="suggest_form">

<%= form_tag("/resources.html", method: "post") do %>
    <div class="form_step" id="contact_info">
        <h2>Contact info for person maintaining resource (not public facing)</h2>
        <div class="contact_row">
            <div class="input_field col">
                <%= label_tag(:contact_email, "Contact Email", class: "required") %>
                <p> How to contact for more information </p>
                
                <% if flash[:notice] %>
                    <%= text_field_tag(:contact_email, @session[:contact_email]) %>
                <% else %>
                    <%= text_field_tag(:contact_email) %>

                <% end %>
            </div>
            <div class="input_field col">
                <%= label_tag(:contact_name, "Contact name") %>
                <% if flash[:notice] %>
                    <%= text_field_tag(:contact_name, @session[:contact_name]) %>
                <% else %>
                    <%= text_field_tag(:contact_name) %>
                <% end %>
            </div>
            <div class="input_field col">
                <%= label_tag(:contact_phone, "Contact Phone") %>
                <% if flash[:notice] %>
                    <%= text_field_tag(:contact_phone, @session[:contact_phone]) %>
                <% else %>
                    <%= text_field_tag(:contact_phone) %>
                <% end %>
            </div>
        </div>

        
    </div>

    <div class="form_step" id="resource_info">
        <h2>Basic information about the resource</h2>
        <div class="resource_row">
            <div class="input_field">
                <%= label_tag(:title, "Resource name", class: "required") %>
                <p> Title of the resource </p>
                <% if flash[:notice] %>
                    <%= text_field_tag(:title, @session[:title]) %>
                <% else %>
                    <%= text_field_tag(:title) %>
                <% end %>
            </div>
            <div class="input_field">
                <%= label_tag(:url, "Resource URL", class: "required") %>
                <p> Webpage for resource </p>
                <% if flash[:notice] %>
                    <%= text_field_tag(:url, @session[:url]) %>
                <% else %>
                    <%= text_field_tag(:url) %>
                <% end %>
            </div>
        </div>

        <div class="resource_row">
            <div class="input_field">
                <%= label_tag(:desc, "Resource Description", class: "required") %>
                <% if flash[:notice] %>
                    <%= text_area_tag(:desc, @session[:desc]) %>
                <% else %>
                    <%= text_area_tag(:desc) %>
                <% end %>
            </div>
        </div>

        <div class="resource_row association_row">
            <% @locations.each do |association, values| %>
                <div id="location">
                    <%= label_tag(:location, association.capitalize, class: "required")%>
                </div>
                <div class="resource_checkboxes">
                    <% values.each do |val| %>
                        <div class="single_checkbox">
                            <p><%= val %></p>
                            <% if flash[:notice] && !@session[association].nil? && @session[association].include?(val) %>
                                <%= check_box_tag association, val, true, class: "checkbox", id: val %>
                            <% else %>
                                <%= check_box_tag association, val, false, class: "checkbox", id: val %>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            <% end %>
            <div id="other_location">
                <p>Other </p>
                <%= text_field_tag(:other) %>
            </div>
        </div>

        <% @has_many_hash.each do |association, values| %>
            <% if (association ==  "types" || association == "audiences")%>
                <div class="association_row">
                    <div class="association">
                        <%= label_tag(:association, association.capitalize, class: "required") %>
                    </div>
                    <div class="resource_checkboxes">
                        <% values.each do |val| %>
                            <div class="single_checkbox">
                                <p><%= val %></p>
                                <% if flash[:notice] && !@session[association].nil? && @session[association].include?(val) %>
                                    <%= check_box_tag association+'[]', val, true, class: "checkbox", id: val %>
                                <% else %>
                                    <%= check_box_tag association+'[]', val, false, class: "checkbox", id: val %>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>

    <div class="form_step" id="resource_info">
        <h2>Other information about the resource</h2>

        <div class="association_row">
            <% @has_many_hash.each do |association, values| %>
                <% if (association !=  "types" && association != "audiences")%>
                    <div class="association">
                        <%= label_tag(:association, association.capitalize) %>
                    </div>
                    <div class="resource_checkboxes">
                        <% values.each do |val| %>
                            <div class="single_checkbox">
                                <p><%= val %></p>
                                <% if flash[:notice] && !@session[association].nil? && @session[association].include?(val) %>
                                    <%= check_box_tag association+'[]', val, true, class: "checkbox" %>
                                <% else %>
                                    <%= check_box_tag association+'[]', val, false, class: "checkbox" %>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        </div>

        <div class="resource_row">
            <div class="input_field" id="deadline_input">
                <%= label_tag(:deadline, "Deadline") %>
                <p> What is the specific date applications are due or an event is held, or resource is available until? The first or upcoming deadline. </p>
                <% if flash[:notice] %>
                    <%= text_field_tag(:deadline, @session[:deadline]) %>
                <% else %>
                    <%= text_field_tag(:deadline, nil) %>
                <% end %>
                <script> $('#deadline').datepicker({
                        orientation: 'left left',
                        todayBtn: true,
                        todayHighlight: true
                    });
                </script>
            </div>
        </div>

        <div class="resource_row">
            <div class="input_field">
                <%= label_tag(:notes, "Notes") %>
                <p> Note any other details on eligibility, deadlines, and process. </p>
                <% if flash[:notice] %>
                    <%= text_area_tag(:notes, @session[:notes]) %>
                <% else %>
                    <%= text_area_tag(:notes) %>
                <% end %>
            </div>
        </div>
    </div>
    

   


    <div id="form_submit">
        <% if flash[:notice] %>
            <div class="notice"><%= flash[:notice] %></div>
        <% end %>
        <%= submit_tag("Submit", :id => "submit") %>
    </div>
    

    

<% end %>
</div>
</div>