<div id="new">
<div class="top">
    <h1>Suggest a Resource for our Database </h1>
</div>

<%= javascript_include_tag "new" %>
<%= javascript_include_tag "filter" %>
<meta name="viewport" content="width=device-width, initial-scale=1">

<div id="instructions">
    <p>Fill out the form below to help contribute. We will contact you if we find the resource acceptable or have any questions.<p>
    <p class="required">Required fields are marked with an <p>
</div>

<div id="suggest_form">
    <%= form_tag("/resources.html", method: "post", id: "form_section") do %>
        <div class="form_step">
            <h2>Basic information about the resource</h2>
            <div class="resource_row">
                <div class="input_field">
                    <%= label_tag(:title, "Resource name", class: "required") %>
                    <p> Title of the resource </p>
                    <%= text_field_tag(:title, nil, class: "required_input") %>
                </div>
            </div>
            <div class="resource_row">
                <div class="input_field">
                    <%= label_tag(:url, "Resource URL", class: "required") %>
                    <p> Webpage for resource </p>
                    <%= text_field_tag(:url, nil, class: "required_input") %>
                </div>
            </div>

            <div class="resource_row">
                <div class="input_field">
                    <%= label_tag(:description, "Resource Description", class: "required") %>
                    <%= text_area_tag(:description, nil, class: "required_input") %>
                </div>
            </div>

            <div class="resource_row association_row">
                <% @locations.each do |association, values| %>
                    <div id="location">
                        <%= label_tag(:location, association.capitalize, class: "required")%>
                    </div>
                    <div class="resource_checkboxes">
                        <% values.each do |val| %>
                            <div class="single_checkbox">
                                <div class="label loc-radio"><%= val %></div>
                                <%= radio_button_tag association, val, false, class: "radio", id: val %>
                            </div>
                        <% end %>
                    </div>
                <% end %>
                
            </div>

            <% @has_many_hash.each do |association, values| %>
                <% if (association ==  "types" || association == "audiences")%>
                    <div class="association_row">
                        <div class="association">
                            <%= label_tag(:association, association.capitalize, class: "required") %>
                        </div>
                        <div class="resource_checkboxes">
                            <% values.each do |val| %>
                                <div class="single_checkbox type_checkbox">
                                <div class="label"><%= val %></div>
                                    <%= check_box_tag association+'[]', val, false, class: "checkbox", id: val %>

                                </div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
        <div class="form_step" id="contact_info">
            <h2>Contact info for person maintaining resource</h2>
            <div class="contact_row">
                <div class="input_field col">
                    <%= label_tag(:contact_email, "Contact Email") %>
                    <p class="label-desc"> Email of the person or organization we can contact if needed. </p>
                    <%= text_field_tag(:contact_email, nil, class: "validate-input") %>
                    <p id="email-valid" class="invalid-text"> Invalid Email </p>
                </div>
            </div>
            <div class="contact_row">
                <div class="input_field col">
                    <%= label_tag(:contact_name, "Contact Name") %>
                    <p class="label-desc"> The person who is most up-to-date with this resource's information. </p>
                    <%= text_field_tag(:contact_name) %>
                </div>
            </div>
            <div class="contact_row">
                <div class="input_field col">
                    <%= label_tag(:contact_phone, "Contact Phone") %>
                    <p class="label-desc"> Who can we call if we have a question about the resource? </p>
                    <%= text_field_tag(:contact_phone, nil, class: "validate-input") %>
                    <p id="phone-valid" class="invalid-text"> Invalid Phone </p>
                </div>
            </div> 
        </div>

        <div class="form_step">
            <h2>Other information about the resource</h2>

            <div class="contact_row">
                <div class="input_field col">
                    <%= label_tag(:resource_email, "Email - General") %>
                    <p class="label-desc-other">Email associated with this resource. </p>
                    <%= text_field_tag(:resource_email, nil) %>
                </div>
            </div>
            <div class="contact_row">
                <div class="input_field col">
                    <%= label_tag(:resource_phone, "Phone - General") %>
                    <p class="label-desc-other">Phone associated with this resource. </p>
                    <%= text_field_tag(:resource_phone, nil) %>
                </div>
            </div>
            <div class="contact_row">
                <div class="input_field col">
                    <%= label_tag(:address, "Address") %>
                    <p class="label-desc-other">An organization's headquarters or an event's physical location. </p>
                    <%= text_field_tag(:address, nil) %>
                </div>
            </div>

            <div class="resource_row">
                <div class="input_field other-info">
                    <%= label_tag(:deadline, "Deadline") %>
                    <p>The specific date applications are due, when an event is held, or when a resource becomes unavailable. The first or upcoming deadline.</p>
                    <%= date_field_tag(:deadline, nil) %>

                </div>
            </div>

            

            <div class="association_row">
                <% @has_many_hash.each do |association, values| %>
                    <% if (association !=  "types" && association != "audiences")%>
                        <div class="association">
                            <%= label_tag(:association, association.capitalize.gsub(/[^0-9A-Za-z,\s]/, " ")) %>
                        </div>
                        <div class="resource_checkboxes">
                            <% values.each do |val| %>
                                <div class="single_checkbox">
                                    <div class="label"><%= val %></div>
                                    <%= check_box_tag association+'[]', val, false, class: "checkbox" %>
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                <% end %>
            </div>

            <div class="resource_row">
                <div class="input_field">
                    <%= label_tag(:notes, "Notes") %>
                    <p> Note any other details on eligibility, deadlines, and process. </p>
                    <%= text_area_tag(:notes) %>

                </div>
            </div>
        </div>

        <div id="form_submit">
            <%= button_tag("Submit", :id => "submit_button", :type => "button") %>
            <p id="message"><p>
        </div>

    <% end %>
</div>
</div>
