<div id="show">

<%= javascript_include_tag "show" %>

<% if @resource == nil %>
    <div id="show-title">
        <h2>This page does not exist!</h2>
        <p>It might have previously existed, but is no longer available.</p>
    </div>
<% else %>
    <div id="resource_info">
        <div id="show-title">
            <h2><%= @resource["title"] %></h2>
        </div>
        <% if @resource["url"].to_s.length > 0 %>
            <div class="resource-detail detail-border-bot">
                <h3>Website</h3>
                <a href="<%= @resource["url"] %>"><%= @resource["url"][0...100] %></a>
            </div>
        <% end %>
        <% if @resource["description"].to_s.length > 0 %>
            <div class="resource-detail">
                <h3>Description</h3>
                <p><%= @resource["description"] %></p>
            </div>
        <% end %>
        <% if @resource["address"].to_s.length > 0 || @resource["location"].to_s.length > 0 %>
            <div class="resource-detail">
                <h3>Location</h3>
                <p><%= @resource["address"] %></p>
                <p><%= @resource["location"] %></p>
            </div>
        <% end %>
        <% if @resource["resource_email"].to_s.length > 0 %>
            <div class="resource-detail">
                <h3>Contact Information</h3>
                <p><%= @resource["resource_email"] %></p>
            </div>
        <% end %>
        <div class="resource-detail detail-border-top">
            <h3>Categories & Tags</h3>
            <% @has_many_hash.map do |key, value| %>
                <% if @resource[key].length > 0 %>
                    <div class="resource-tag">
                        <p><b><%= key.to_s.gsub(/[\_]/, " ").gsub(/[^0-9A-Za-z,\s,\-,\&]/, "").capitalize%></b><p>
                        <div class="show-tag">
                            <% @tags = @resource[key].to_s.split(',')%>
                            <% @tags.each do |tag| %>
                                <div class="label">
                                    <%=  tag.gsub(/[^0-9A-Za-z,\s,\-,\&]/, "") %>
                                </div>
                            <% end%>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
        <p class="resource-updated">Last Updated:  <%= @updated_at %> </p>
    </div>

    <div class="links" %>
        <% if user_signed_in? %>
            <% all_values = @has_many_hash %>
            <%= link_to('Edit', edit_resource_path(@resource), class: "btn btn-outline-primary") %>
            
            <% if @resource["approval_status"] == 0 %>
                <a class="nav-item btn btn-outline-primary" href="/resources/unapproved.html">View in approval queue</a>
            <% end %> 

            <% if @resource["approval_status"] != 2 %>
                <%= button_to 'Archive', resources_archive_path(@resource), data: { confirm: "Are you sure you want to move this resource to the archive?", id: @resource["id"] } , class: "btn btn-outline-primary btn-archive", id: @resource["id"] %>
            <% else %>
                <a class="nav-item btn btn-outline-primary" href="/resources/archived.html">View in archive</a>
            <% end %>
        <% else %>
            <% all_values = @has_many_hash %>
        <% end %> 
        
    </div>
<% end %>

</div>