<div class="top" id="approval-title">
  <h1>Approval Queue</h1>
</div>

<%= javascript_include_tag "unapproved" %>

<div class="index"  id="resource-container-wrapper">
    <div class="col" id="approval-column">
      <%= form_tag("/resources/approve/many.html", method: :post) do %>
        <div id="result-header">
          <%= @resource_count %> awaiting approval
          <%= submit_tag 'Approve selected resources', class: 'btn btn-outline-dark approve-button' %>
        </div>
        
      <% @resources.each do |resource| %>
        <div class="row resource-container unapproved-resource">
            <div class="resource-title text">
                <%= resource.title %>
            </div>
            <div class="approval-checkbox">
              <%= check_box_tag 'approve_list[]', resource.id, checked=false %>
            </div>
            <div class="resource-url text">
              URL: <a href="<%= resource.url %>"><%= resource.url %></a>
            </div>
            <div class="resource-desc text">
              Description: <%= resource.desc %>
            </div>
            <div class="resource-location text">
              Location: <%= resource.location %>
            </div>
            <div class="resource-email text">
              Contact Email: <%= resource.contact_email %>
            </div>
            <div class="resource-types text">
              Types: <%= resource.types.collect(&:val) %>
            </div>
        </div>
      <% end %>
      <% end %>
  </div>
  <form action=<%=resources_approve_many_path %>, method="post">
    <button class='btn btn-outline-dark' id="approve-all-button" name="approve_list" value="all">
      Approve All
    </button>
  </form>
</div>
